* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.stopwatch-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#timeDisplay {
    font-size: 3rem;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: rgb(99, 43, 43);
    border: none;
    border-radius: 5px;
}

.controls button:disabled{
    background-color: #ccc;
}
.lap-list{
    margin-top: 20px;
    max-height: 150px;
    overflow-y: auto;
}
.lap{
    font-size: 1.2rem;
    padding: 5px;
    background-color: #f9f9f9;
    margin: 3px 0;
    border-radius: 5px;
}
